<div class="container">
  <input [(ngModel)]="city" type="text" />
  <button (click)="getWeatherByCity(city)">Search</button>
  <div class="weatherInfo">
    <div class="img-temp">
      <img *ngIf="maxMinDes!.temp >= 18" src="assets/hot.jpg" alt="img" />
      <img *ngIf="maxMinDes!.temp < 18" src="assets/cold.png" alt="img" />
      <div class="cityName-temp">
        <span>{{ maxMinDes?.cityName }}</span>
        <span>{{maxMinDes?.temp }}C</span>
      </div>
    </div>
    <p>More Information</p>
    <div class="info">
      <div class="gridcontainer">
        <div>
          <img src="assets/temperature.png" alt="img" />
          <span>{{maxMinDes?.max }}C</span>
        </div>
        <div>
          <img src="assets/hot.png" alt="img" />
          <span>{{maxMinDes?.min }}C</span>
        </div>
        <div>
          <img src="assets/humidity.png" alt="img" />
          <span>{{ maxMinDes?.humidity }}</span>
        </div>
        <div>
          <img src="assets/wind.png" alt="img" />
          <span>{{ maxMinDes?.windSpeed }}Km/h</span>
        </div>
      </div>
      <div>
        <p>{{ maxMinDes?.description }}</p>
      </div>
    </div>
  </div>
</div>
